body
  height: 100%
  background: #aaa
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  .fill
    min-height: 100%
    margin:1% 1% 1% 1%
  .mainmenu
    position: fixed
    top: 0px
    left: 0px
  .cell
    height: 50%
a
  color: #00B7FF