body
  height: 100%
  background: #aaa
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  .mainmenu
    position: fixed
    top: 5px
    left: 5px
  .fraenk
    background: transparent url(/img/sprites/frank_right.png) 0 0 no-repeat;
    position: absolute;
    top: 150px;
    left: 65px;
    width: 64px;
    height: 51px;
    z-index: 2000;
    cursor: pointer;
a
  color: #00B7FF
  
  
